$font-body = "Open Sans", sans-serif;
$font-headings = "Raleway", sans-serif;
$font-code = "Source Code Pro", monospace;
$font-size = 125%;

body {
    font-family: $font-body;
    font-size: $font-size;
    line-height: 1.5;
    background-color $base3;
    color $base00;
}

::selection {
    background-color: $blue;
    color: $base3;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-headings;
    font-weight: normal;
    color: $base01;
    margin: 1em 0;
}

p,
table,
blockquote,
pre,
:not(li) > ul,
:not(li) > ol {
    margin: 1.5em 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

a {
    color: $blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

table {
    border-collapse: collapse;
    display: block;
    width: 100%
    overflow: auto;
}

th,
td {
    padding: .5em 1em;
    border: .125em solid $base2;
}

th {
    background-color: $base2;
}

hr {
    border: none;
    border-top: .125em solid $base2;
    margin: 4em 0;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: .25em solid $base2;;
}

img {
    max-width 100%;
}

code {
    font-family: $font-code;
}

:not(pre) > code {
    background-color: $base2;
    padding: 0 .25em;
}

ul,
ol {
    padding: 0 1em;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1em;
}

.icon.outbound {
    display: none;
}

.header {
    background-color: $base2;
    padding: 2em 0;
    margin-bottom: 4em;
}

.date {
    color: $base0;
}

.heading-link {
    color: $base01;
    &:hover {
        color: $blue;
    }
}

.center {
    display: flex;
    min-height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@import "prism";
